{% extends 'customers/base.html' %}

{% block body %}

<div class="container my-4">
	<h3>Register your Store</h3>
	<form method='POST' action='/stores/signup'>
		{% csrf_token %}

		  <div class="form-group my-4">
		    <label for="email">Email address</label>
		    <input type="email" class="form-control" id="email" placeholder="" name="email" required>
		  </div>

		  <div class="form-group my-4">
		    <label for="username">Username</label>
		    <input type="text" class="form-control" id="username" placeholder="" name="username" required>
		  </div>

		  <div class="form-group my-4">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="" name="password" required>
		  </div>

		  <div class="form-group my-4">
		    <label for="confirmpassword">Confirm Password</label>
		    <input type="password" class="form-control" id="confirmpassword" placeholder="" name="confirmpassword" required>
		  </div>

		  <button type="submit" class="btn btn-primary">Register</button>

	</form>
</div>

{% endblock %}

{% block navbtn %}

<a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>

{% endblock %}